body {
    margin: 2%;
}

.input {
    width: 25%;
}

.radio_container {
    border-style: solid;
    border-color: black;
    padding: 2%;
    width: 25%;
    overflow: hidden;
    text-align: left;
}

.buttons {
    margin: 1% 0;
    width: 25%;
    height: 5%;
    font-size: 20px;
}