body {
    margin: 0%;
    padding: 0%;
    color: blueviolet;
}

.header-cont {
    /* border-style: solid; */
    color: blueviolet;
    margin: auto;
    padding: 0%;
    text-align: center;
}

.header-image {
    /* border-style: solid; */
}

.headerimg {
    /* border-style: solid; */
}

.cont-one {
    margin: 1% 10%;
}

.cont-two {

}

.footer-cont {

}
