* {
    box-sizing: border-box;
}

body {
    padding: 0%;
    margin: 0%;
}

/* HEADER STYLES */
.header {
    overflow: auto;
}
.header-image {
    padding: 1%;
    float: left;
}
.header-title {
    float: right;
    padding: 1% 2% 0 0;
}

/* MIDDLE CONTENT */
.column-one {
    border-style: solid;
}
.column-one-content {
    border-style: solid;
}

/* BOTTOM CONTENT */
.column-two {
    border-style: solid;
}
.column-two-imgone {
    border-style: solid;
}
.column-two-imgtwo {
    border-style: solid;
}
.column-two-imgthree {
    border-style: solid;
}