* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0%;
    margin: 0%;
}

/* ROW ONE */
.row-one {
    overflow: auto;
}
.column-one {
    padding: 1%;
    float: left;
}
.column-two {
    float: right;
    padding: 1% 2% 0 0;
}

/* ROW TWO */
.row-two {
    background-color: #000000;
}
.column-one-row2 {

}

/* ROW THREE */
.row-three {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.column-one-row3 {
    padding: 1% 4% 0 0;
    margin: 2%;
}
.column-two-row3 {
    padding: 1% 4% 0 4%;
    margin: 2%;
}
.column-three-row3 {
    padding: 1% 0 0 4%;
    margin: 2%;
}