* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0%;
    margin: 0%;
}

.row-one {
    padding: 2% 2% 2% 15%;
}

.row-two {
    padding: 0% 0% 0% 15%;
}

.row-three {
    overflow: auto;
    display: flex;
    padding: 0% 0% 0% 15%;
}

.column-one {
    float: left;
}
.column-two {
    float: right;
    margin: 2% 20% 2% 2%;
}