body {
    margin: 0%;
    padding: 0%;
}

a {
    color: rgb(41, 118, 186);
    text-decoration: none;
    font-size: 1.3vw;
}

.header-cont {
    color: #465173;
    margin: auto;
    padding: 0%;
}

.banner {
    text-align: center;
}

.cont-one {
    margin: 1% 5%;
}

.cont-two {
    margin: 1% 5%;
}

.column {
    float: left;
    width: 6%;
    padding: 0.5%;
    height: 2%; /* Should be removed. Only for demonstration */
  }

.footer-cont {
    text-align: center;
    margin: 1% 1%;
    color: rgb(175, 57, 57);
}
