body {
    margin: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.header {
  width: 100%;
  background-color: rgb(64, 64, 64);
  /* border-style: solid; */
}
.headerimg {
  width: 5%;
  /* border-style: solid; */
  float: left;
}
.headerinfo {
  font-family: 'Dancing Script', cursive;
  font-size: 0.8vw;
  width: 65%;
  padding-left: 2%;
  /* border-style: solid; */
  color: rgb(131, 166, 137);
  overflow: hidden;
}

/* .buttoncont {
  margin: 5% 5%;
  padding: 5% 5%;
} */

button {
    width: 25%;
    /* margin: 1% 1%; */
    padding: 1% 1%;
    background-color: rgb(88, 154, 192);
    text-align: center;
    text-decoration: none;
    transition-duration: 0.2s;
    font-family: 'Nunito', sans-serif;
  }
button:hover {
    width: 25%;
    background-color: #ffffff;
    color: rgb(235, 3, 3);
    border-style: solid;
}

a {
    text-decoration: none;
    color: black;
}

#button {
  margin: 5% 0% ;
}

.assignments {
    margin: 5% 3%;
    /* border-style: solid; */
    text-align: left;
    width: 30%;
}

ul {
    text-align: left;
}

.assignmentsimage {
    text-align: left;
    margin: -7% 15%;
    transform: rotate(20deg);
}
.assignmentsimage img {
    border: 3px solid rgb(98, 98, 98);
    border-radius: 5px;
    padding: 3px;
    width: 25%;
}