  body {
    background: url(/images/test.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* TOP MENU BAR */
.top {
  padding: 1% 1% 1% 2%;
}

/* SIDE MENU */
.offcanvas {
  background-color: #494949;
}

/* SMOKEY THE BEAR ANIMATION */
.smokey:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* STYLES FOR HYPERLINKS */
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black
}

#parkmenu {
  padding: 1% 1%;
  list-style-type: none;
  color: whitesmoke;
}

.main-content {
  color: whitesmoke;
  position: sticky;
  float: right;
  bottom: 10px;
  width: 50%;
}
.main-content a {
  text-decoration: none;
  color: rgb(220, 173, 20);
  text-align: left;
}
.main-content a:hover {
  text-decoration: underline;
}

.responsive {
  width: 100%;
  height: auto;

  /* border-style: solid;
  border-color: darkorange; */
}
.prkImages {
  padding: 0%;
}

.smky-div {
  position: absolute;
  bottom: 2%;
  width: 50%;
}
.smokey {
  width: 35%;
  height: auto;
}
/* #prkImages {
  float: left;
} */