body {
    text-align: center;
    color: brown;
    border-style: solid;
    border-color: chocolate;
}

.table {
    color:rgb(45, 45, 45);
    background-color:azure;
    border-style: solid;
    border-color: black;
    width: 75%;
    margin: 1% 12%;
    text-align: left;
}

td {
    border-style: solid;
    padding: 1% 5%;
    margin: 1% 5%;
    width: 5%;
}