.wagesapp-container {
    padding: 5% 30%;
}

.header {
    color: white;
    background-color: black;
    margin: 0 0 6% 0;
    text-align: center;
}
.footer {
    color: white;
    background-color: black;
    margin: 6% 0 0 0;
    text-align: center;
}

#button {
    margin: 2% 0 0 0;
}